td {border-style: solid; border-width:1px; }

#display {width:100%; }

#status-bar {width: 20%; padding:10px;  }
#app-logo {
    font-weight: bold;
}
#exitation-chart { width: 100%; height: 30%;}

#help {display: none; }
#help p {font-size:small; }

#main-bar {width: 75%; height: 550px; }

